NET "a" LOC = P30 | IOSTANDARD = LVTTL;
NET "b" LOC = P32 | IOSTANDARD = LVTTL;
NET "c_in" LOC = P33 | IOSTANDARD = LVTTL;
NET "sum" LOC = P34 | IOSTANDARD = LVTTL;
NET "carryIn" LOC = P35 | IOSTANDARD = LVTTL;